<a href="https://colab.research.google.com/github/LakshmiP1/DS/blob/main/Flight_DataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [87]:
df_train = pd.read_excel("Data_Train.xlsx")

In [88]:
df_test = pd.read_excel("Test_set.xlsx")

In [89]:
final_df = df_train.append(df_test)

<ipython-input-89-bbca0d934ed8>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = df_train.append(df_test)

In [ ]:
final_df.head()

In [ ]:
final_df.tail()

In [90]:
final_df['Date'] = final_df['Date_of_Journey'].str.split("/").str[0]
final_df['Month'] = final_df['Date_of_Journey'].str.split("/").str[1]
final_df['Year'] = final_df['Date_of_Journey'].str.split("/").str[2]

In [7]:
final_df['Date']

0       24
1        1
2        9
3       12
4       01
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: Date, Length: 13354, dtype: object

In [10]:
final_df['Month']

0       3
1       5
2       6
3       5
4       3
       ..
2666    6
2667    3
2668    3
2669    3
2670    6
Name: Month, Length: 13354, dtype: int64

In [ ]:
final_df['Year']

In [91]:
final_df["Date"]=final_df['Date_of_Journey'].apply(lambda x:x.split("/")[0]).astype(int)
final_df["Month"]=final_df['Date_of_Journey'].apply(lambda x:x.split("/")[1]).astype(int)
final_df["Year"]=final_df['Date_of_Journey'].apply(lambda x:x.split("/")[2]).astype(int)

In [92]:
final_df.drop("Date_of_Journey",axis=1,inplace=True)

In [ ]:
final_df.info()

In [93]:
final_df.drop('Date_of_Journey',axis=1,inplace=True)

KeyError: ignored

In [ ]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019

In [94]:
final_df['Arrival_Time']

0       01:10 22 Mar
1              13:15
2       04:25 10 Jun
3              23:30
4              21:35
            ...
2666    20:25 07 Jun
2667           16:55
2668    04:25 07 Mar
2669           19:15
2670           19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [95]:
final_df['Arrival_hour'] = final_df['Arrival_Time'].apply(lambda x:x.split(":")[0]).astype(int)

In [98]:
final_df['Arrival_Time'].head(1)

0    01:10 22 Mar
Name: Arrival_Time, dtype: object

In [103]:
final_df['Arrival_min']=final_df['Arrival_Time'].str.split(":").str[1].str.split(" ").str[0]

In [107]:
final_df['Arrival_min'] = final_df['Arrival_min'].astype(int)

In [ ]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10

In [109]:
final_df.drop('Arrival_Time',axis=1,inplace=True)

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Duration         13354 non-null  object
 6   Total_Stops      13353 non-null  object
 7   Additional_Info  13354 non-null  object
 8   Price            10683 non-null  float64
 9   Date             13354 non-null  int64
 10  Month            13354 non-null  int64
 11  Year             13354 non-null  int64
 12  Arrival_hour     13354 non-null  int64
 13  Arrival_min      13354 non-null  int64
dtypes: float64(1), int64(5), object(8)
memory usage: 2.0+ MB

In [ ]:
final_df['Dep_Hour'] = pd.to_datetime(final_df["Dep_Time"]).dt.hour

In [110]:
final_df['Dep_Hour'] = final_df['Dep_Time'].str.split(":").str[0].astype(int)

In [111]:
final_df['Dep_Min'] = final_df['Dep_Time'].str.split(":").str[1].astype(int)

In [112]:
final_df.drop('Dep_Time',axis=1,inplace=True)

In [ ]:
final_df.head(1)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_Hour,Dep_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20

In [113]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [114]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':1})

In [ ]:
final_df['Duration'].unique()

In [115]:
final_df['Duration_hour'] = final_df['Duration'].str.split(" ").str[0].str.split("h").str[0]

In [116]:
final_df[final_df['Duration_hour']=='5m']

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_Hour,Dep_Min,Duration_hour
6474,Air India,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,5m,2.0,No info,17327.0,6,3,2019,16,55,16,50,5m
2660,Air India,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,5m,2.0,No info,NaN,12,3,2019,16,55,16,50,5m

In [117]:
final_df.drop([6474,2660],inplace=True)

In [84]:
final_df['Duration_hour'].unique()

array([ 2,  7, 19,  5,  4, 15, 21, 25, 13, 12, 26, 22, 23, 20, 10,  6, 11,
        8, 16,  3, 27,  1, 14,  9, 18, 17, 24, 30, 28, 29, 37, 34, 38, 35,
       36, 47, 33, 32, 31, 42, 39, 41, 40])

In [118]:
final_df['Duration_hour']=final_df['Duration_hour'].astype(int)

In [119]:
final_df['Duration_min'] = final_df['Duration'].str.split(" ").str[1].str.split('m').str[0]

In [120]:
final_df['Duration_min'] = final_df['Duration_min'].fillna(final_df['Duration_min'].median())

In [121]:
final_df['Duration_min'] = final_df['Duration_min'].astype(int)

In [75]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  object
 1   Source           13351 non-null  object
 2   Destination      13351 non-null  object
 3   Total_Stops      13350 non-null  float64
 4   Additional_Info  13351 non-null  object
 5   Price            10681 non-null  float64
 6   Date             13351 non-null  int64
 7   Month            13351 non-null  int64
 8   Year             13351 non-null  int64
 9   Arrival_hour     13351 non-null  int64
 10  Arrival_min      13351 non-null  object
 11  Dep_Hour         13351 non-null  int64
 12  Dep_Min          13351 non-null  int64
 13  Duration_hour    13351 non-null  object
 14  Duration_min     13351 non-null  int64
dtypes: float64(2), int64(7), object(6)
memory usage: 1.6+ MB

In [122]:
final_df.drop(['Duration'],axis=1,inplace=True)

In [123]:
final_df.drop(['Route'],axis=1,inplace=True)

In [124]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
final_df['Additional_Info'] = labelencoder.fit_transform(final_df['Additional_Info'])
final_df['Airline'] = labelencoder.fit_transform(final_df['Airline'])
final_df['Source'] = labelencoder.fit_transform(final_df['Source'])
final_df['Destination'] = labelencoder.fit_transform(final_df['Destination'])

In [125]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  int64
 1   Source           13351 non-null  int64
 2   Destination      13351 non-null  int64
 3   Total_Stops      13350 non-null  float64
 4   Additional_Info  13351 non-null  int64
 5   Price            10681 non-null  float64
 6   Date             13351 non-null  int64
 7   Month            13351 non-null  int64
 8   Year             13351 non-null  int64
 9   Arrival_hour     13351 non-null  int64
 10  Arrival_min      13351 non-null  int64
 11  Dep_Hour         13351 non-null  int64
 12  Dep_Min          13351 non-null  int64
 13  Duration_hour    13351 non-null  int64
 14  Duration_min     13351 non-null  int64
dtypes: float64(2), int64(13)
memory usage: 1.6 MB