<a href="https://colab.research.google.com/github/LakshmiP1/DS/blob/main/pandas_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
data={
    "ename":["lakshmi","yuvansh","pinky","moksha"],
    "sals":[10000,20000,30000,40000]
     }
     #passing the data to pandas dataframe constructor,so that a dataframe gets created
df=pd.DataFrame(data)
print(df)

     ename   sals
0  lakshmi  10000
1  yuvansh  20000
2    pinky  30000
3   moksha  40000

In [17]:
#giving index names
import pandas as pd
data={"sony":[200,350,400,500,300],
      "LG":[500,350,250,150,600],
      "Lenovo":[200,400,250,100,450]
      }
df=pd.DataFrame(data,index=["April","May","June","July","August"])
print(df)
print()
#retreiving particular month data
print(df.loc[["April"]])
print()
print(df.loc["April"])

        sony   LG  Lenovo
April    200  500     200
May      350  350     400
June     400  250     250
July     500  150     100
August   300  600     450

       sony   LG  Lenovo
April   200  500     200

sony      200
LG        500
Lenovo    200
Name: April, dtype: int64

In [19]:
print(df[["LG"]])

         LG
April   500
May     350
June    250
July    150
August  600

In [20]:
#printing multiple columns as dataframe
print(df[["LG","sony"]])

         LG  sony
April   500   200
May     350   350
June    250   400
July    150   500
August  600   300

In [22]:
#slicing a dtataframe and retreiving rows
print([[df[0:3]]])

[[       sony   LG  Lenovo
April   200  500     200
May     350  350     400
June    400  250     250]]

In [25]:
#slicing the columns we use iloc.iloc for integer index,loc for string indexes
print(df.iloc[2:4,])

      sony   LG  Lenovo
June   400  250     250
July   500  150     100

In [27]:
print(df.sort_values("LG"))

        sony   LG  Lenovo
July     500  150     100
June     400  250     250
May      350  350     400
April    200  500     200
August   300  600     450

In [28]:
#for sorting column values
print(df.sort_values("LG",ascending=False))

        sony   LG  Lenovo
August   300  600     450
April    200  500     200
May      350  350     400
June     400  250     250
July     500  150     100

In [33]:
#for sorting index values
print(df.sort_index())

        sony   LG  Lenovo
April    200  500     200
August   300  600     450
July     500  150     100
June     400  250     250
May      350  350     400

In [34]:
print(df.sort_values(by=["LG","sony"]))

        sony   LG  Lenovo
July     500  150     100
June     400  250     250
May      350  350     400
April    200  500     200
August   300  600     450

In [37]:
#renaming a dataframe column
p=df.columns=['samsung','LG','Lenovo']
print(p)
print(df)

['samsung', 'LG', 'Lenovo']
        samsung   LG  Lenovo
April       200  500     200
May         350  350     400
June        400  250     250
July        500  150     100
August      300  600     450

In [38]:
#droping a column or row. axis=1 means it's drop the column,the console dont know whether row will bw deleted or column will bw deleted.
x=df.drop("LG",axis=1)
print(x)

        samsung  Lenovo
April       200     200
May         350     400
June        400     250
July        500     100
August      300     450

In [39]:
x=df.drop("May")
print(x)

        samsung   LG  Lenovo
April       200  500     200
June        400  250     250
July        500  150     100
August      300  600     450

In [40]:
print(df.rank()) #based on the values of the columns,it gives rank

        samsung   LG  Lenovo
April       1.0  4.0     2.0
May         3.0  3.0     4.0
June        4.0  2.0     3.0
July        5.0  1.0     1.0
August      2.0  5.0     5.0

In [41]:
x=df.LG.max()
print(x)

600

In [42]:
x=df.LG.min()
print(x)

150

In [44]:
#adding a new column
df["oppo"]=df.eval("LG+100")
print(df)

        samsung   LG  Lenovo  oppo
April       200  500     200   600
May         350  350     400   450
June        400  250     250   350
July        500  150     100   250
August      300  600     450   700

In [48]:
x=pd.concat([df,df])
print(x)

        samsung   LG  Lenovo  oppo
April       200  500     200   600
May         350  350     400   450
June        400  250     250   350
July        500  150     100   250
August      300  600     450   700
April       200  500     200   600
May         350  350     400   450
June        400  250     250   350
July        500  150     100   250
August      300  600     450   700